.google-products-container {
  text-align: center;
  font-weight: 100;
  padding: 4rem;
  font-family: 'Google Sans', sans-serif;
 
  margin-bottom: 50px;

}

.container{
  padding: 10px;
}
 .container p {
    font-size: 49px;
    font-weight: 100;
    margin-bottom: 60px;
  }

.filter-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 0;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 1rem;
  margin-top: 2rem;
}

.product-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:15px 18px;
  border: 1px solid #ddd;
  border-radius: 12px;
  background-color: #fff;
  transition: box-shadow 0.2s;
}

.product-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-icon {
  height: 45px;
  width: 45px;
  margin-right: 8px;
}

.external-link {
  margin-left: auto;
  
}

/* .disclaimer {
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #555;
  background-color: grey;
  max-width: fit-content;
  margin-left: 190px;
} */

.filter-select {
  padding: 20px 100px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0;
  outline: none;
  background: #fff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: none;
  cursor: pointer;
  width: auto; 
}

@media (max-width: 600px) {
  .google-products-container {
    padding: 1rem;
    
  }

  .filter-section {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    
    
  }
  .filter-select {
    width: 100%; 
    padding: 20px 16px; 
  }

  .product-grid {
    grid-template-columns: 1fr; 
    gap: 1rem;
    
  }

  .product-card {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    padding: 16px;
  }

  .product-icon {
    height: 40px;
    width: 40px;
  }
  .container p {
    font-size: 28px;
    font-weight: 100;
    margin-bottom: 60px;
  }
}
