.story-wrapper {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  font-family: 'Google Sans', sans-serif;
}

.story-wrapper h2 {
  font-size: 28px;
  margin-bottom: 30px;
}

.story-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: 20px;
}

.story-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e2e2e2;
  padding: 42px;
  border-radius: 12px;
  background-color: #fff;
  transition: box-shadow 0.3s ease;
}

.story-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  /* text-decoration: underline; */
}

.story-text {
  max-width: 70%;
}

.story-date {
  font-size: 12px;
  color: #5f6368;
  text-transform: uppercase;

}

.story-tag {
  color: #1a73e8;
  font-weight: 500;
}

.story-text p {
  font-size: 16px;
  margin-top: 40px;
  color: #202124;
}

.story-card img {
  width: 70px;
  height: 40px;
  object-fit: cover;
  border-radius: 6px;
}
