.navbar {
  display: flex;
  align-items: center;
  padding: 15px 5px;
  /* border-bottom: 1px solid #e0e0e0; */
  font-family: Arial, sans-serif;
  position: relative;
  z-index: 1000;
}

.navbar-logo {
  margin-right: 40px;

}

.navbar-logo i{
  display: none;
}


.navbar-logo a {
  text-decoration: none;
  font-size: 29px;
  font-weight: bold;
}

/* .g-blue {
  font-size: 25px;
  color: #4285f4;
  margin-top: 20px;
}
.o-red {
  font-size: 25px;
  color: #db4437;
}
.o-yellow {
  font-size: 25px;
  color: #f4b400;
}
.l-green {
  font-size: 25px;
  color: #0f9d58;
}
.e-red {
  font-size: 25px;
  color: #db4437;
} */


.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  padding: 20px 4px;
  position: relative;
  transition: color 0.2s;
  /* background-color: yellow; */
  outline: #1a73e8;
}

.nav-link:hover {
  color: #202124;
  background-color: #fff;
}

.nav-link.active {
  /* color: #1a73e8; */
  border-bottom: 3px solid #1a73e8;
}


.navbar {
  display: flex;
  align-items: center;
  padding: 15px 5px;
  font-family: Arial, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: white;
  /* background-color: yellow; */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.navbar.scrolled {
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar.show {
  transform: translateY(0);
}

.navbar.hide {
  transform: translateY(-100%);
}



@media screen and (max-width: 768px) {
  .navbar-logo {
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 40px;

  }
  .navbar-links {
    display: none; 
  }
  .navbar-logo i{
  display: block;
}
}
