/* Sidebar.css */

/* Sidebar Container */
.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 20px;
  top: 0;
  left: 0;
  width: 220px;
  height: 100vh;
  background: white;
  padding: 20px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%); 
  z-index: 1100; 
  overflow-y: auto;
  scroll-behavior: smooth;
}


.sidebar.open {
  transform: translateX(0);
}
.sidebar-logo {
  width: 100%;
  height: auto;
}


.g-blue {
  font-size: 25px;
  color: #4285f4;
  margin-top: 20px;
}
.o-red {
  font-size: 25px;
  color: #db4437;
}
.o-yellow {
  font-size: 25px;
  color: #f4b400;
}
.l-green {
  font-size: 25px;
  color: #0f9d58;
}
.e-red {
  font-size: 25px;
  color: #db4437;
}



/* Sidebar List */
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Sidebar Items */
.sidebar li {
  margin-bottom: 20px;
}

/* Sidebar Links */
.sidebar a {
  text-decoration: none;
  color: #333;
  /* font-weight: bold; */
}

/* Backdrop behind sidebar */
.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1090; 
}
