* {
  font-family: Google Sans, Arial, Helvetica, sans-serif;
}

.subscribe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  padding: 20px;
  box-sizing: border-box;
}

.con {
  padding: 30px 50px;
  display: flex;
  background-color: #f8f9fa;
  justify-content: center;
  align-items: center;
  gap: 100px;
  border-radius: 10px;
  flex-wrap: wrap; 
}

.subscribe-content {
  max-width: 1000px;
  /* text-align: center;  */
}

.subscribe-content h1 {
  font-size: 35px;
  font-weight: 100;
  margin-bottom: 10px;
 
}

.subscribe-content p {
  font-size: 16px;
  color: #5f6368;
  margin-bottom: 20px;
   margin-top: 10px;
}

.subscribe-button {
  padding: 14px 25px;
  font-size: 16px;
  background-color: #ffffff;
  color: #1a73e8;
  border: 1px solid #040505;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subscribe-button:hover {
  /* background-color: #1558b0; */
   border: 1px solid #4072f9;
}

/* Responsive styles for mobile devices */
@media (max-width: 768px) {
  .con {
    flex-direction: column;
    gap: 20px;
    padding: 10px 15px;
  }

  .subscribe-content h1 {
    font-size: 28px;
  }

  .subscribe-content p {
    font-size: 14px;
  }

  .subscribe-button {
    width: 100%; 
    font-size: 18px;
    padding: 12px;
  }
}

@media (max-width: 480px) {
  .subscribe-content h1 {
    font-size: 22px;
    text-align: start;
    line-height: 32px;
    width: 80%;
    margin-left: 20px;
  }

  .subscribe-content p {
    font-size: 18px;
    width: 320px;
    text-align: start;
    margin-left: 20px;
    margin-right: 10px;
    /* margin-top: 10px; */
  }

  .con {
    gap: 15px;
    line-height: 28px;
  }
  .subscribe-button {
  padding: 14px 85px;
  font-size: 18px;
  background-color: #ffffff;
  color: #1a73e8;
  border: 1px solid #040505;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subscribe-button:hover {
  /* background-color: #1558b0; */
   border: 1px solid #4072f9;
}
}
