.promo-container12 {
  width: 100%;
  text-align: center;
}

.promo-container12 h1 {
  font-size: 3.5rem;
  font-weight: 100;
  margin-bottom: 20px;
  margin-top: 90px;
}

.promo-container12 p {
  font-size: 1.3rem;
  margin-bottom: 60px;
  color: #555;
}

.promo-button {
  background-color: #1a73e8;
  color: white;
  border: none;
  padding: 10px 60px;
  font-size: 17px;
  height: 50px;
  /* width: 10px; */
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 40px;
  margin-top: -20px;
}

.promo-button:hover {
  background-color: #204c81;
}

/* Responsive styles for phone view */
@media (max-width: 600px) {
  .promo-container12 h1 {
    font-size: 1.5rem;
  }

  .promo-container12 p {
    font-size: 1rem;
    /* background-color: #1a73e8; */
  }

  .promo-button {
    width: 80%;
    font-size: 1rem;
    height: 45px;
    padding: 10px 0;
  }
}

.card-container12 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.promo-card12 {
  width: 400px;
  height: 440px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  text-align: left;
  background: #fff;
}

.promo-card12 img {
  width: 100%;
  object-fit: cover;
}

.card-content12 {
  /* background-color: #1a73e8; */
}

.card-content12 small {
  display: block;
  color: #888;
  font-weight: bold;
  margin-bottom: 8px;
  margin-left: 15px;
  margin-top: 10px;
}

.card-content12 p {

  margin: 0 15px;
  color: #333;
  line-height: 1.5;
}

.card-content12 a {
  color: #1a73e8;
  font-size: 1.2rem;
  text-decoration: none;
  float: right;
  margin: 0 15px 0 0;
}
