/* .footer {
  background: #f8f9fa;
  font-family: sans-serif;
  font-size: 14px;
  color: #333;
  width: 100%;
  margin: 0 auto;
  padding: 40px 20px; 
  box-sizing: border-box;

}

.footer-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 40px;
  margin-bottom: 20px;
}

.footer-column {
  flex: 1 1 180px;
  min-width: 150px;
  max-width: 220px; 
}

.footer-column h4 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 12px;
  color: #202124;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
  
}

.footer-column li {
  margin-bottom: 18px;
}

.footer-column a {
  
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-column a:hover {
  color: #1a73e8;
  text-decoration: underline;
}

.footer-bottom {
  border-top: 1px solid #ddd;
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.footer-left,
.footer-right {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
 
}

.google-logo {
  font-weight: bold;
  font-size: 16px;
  color: #202124;
}


@media (max-width: 768px) {
  .footer-columns {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .footer-left,
  .footer-right a{
    justify-content: center;
  }
} */

/* fotdata css */
.footer {
  background-color: #f9f9f9;
  padding: 40px 90px;
  font-family: Arial, sans-serif;
}

.footer-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

.footer-column {
  flex: 1 1 200px;
}

.footer-title {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.footer-links {
  list-style: none;
  /* padding-left: 0; */
  display: block;
  padding: 0px 0px;

}

.footer-links li {
  margin-bottom: 8px;
}

.footer-links a {
  text-decoration: none;
  color: #585757;
  line-height: 2;
}

.footer-bottom {
  border-top: 1px solid #ddd;
  padding-top: 20px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-left,
.footer-right {
  display: flex;
  gap: 15px;
  align-items: center;
}

.footer-language-select {
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .footer-columns {
    flex-direction: column;
    margin: 10px 10px;
    
  }

  .footer-links {
    display: none;
  }

  .footer-links.open {
    display: block;
    margin-top: 10px;
  }
}
