.footer {
  background-color: #f9f9f9;
  padding: 40px 90px;
  font-family: Arial, sans-serif;
}

.footer-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  
}

.footer-column {
  /* flex: 1 1 200px; */
  /* background-color: blue; */
}

.footer-title {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.footer-links {
  list-style: none;
  /* padding-left: 0; */
  display: block;
  padding: 0px 0px;

}

.footer-links li {
  margin-bottom: 8px;
}

.footer-links a {
  text-decoration: none;
  color: #585757;
  line-height: 2;
}

.footer-bottom {
  border-top: 1px solid #ddd;
  padding-top: 20px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-left,
.footer-right {
  display: flex;
  gap: 15px;
  align-items: center;
}

.footer-language-select {
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.dropdown-arrow {
  display: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .footer {
    padding: 30px 20px;
  }

  .footer-columns {
    flex-direction: column;
  }

  .footer-title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }

  .footer-links {
    display: none;
    padding-left: 10px;
    margin-top: 10px;
  }

  .footer-links.open {
    display: block;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .footer-left{
    display: flex;
    flex-direction: column ;
    align-items: flex-start;
    gap: 40px;
  }



  .footer-right {
    
    flex-direction: row ;
    align-items: center;
    
    gap: 15px;
  }

  .footer-language-select {
    width: 100%;
    margin-top: 10px;
  }

  .dropdown-arrow {
    font-size: 20px;
    margin-left: auto;
    line-height: 1;
    user-select: none;
  }
}

