.carousel-wrapper {
  overflow: hidden;
  background: #fff;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 90px;
}

.carousel-track {
  display: flex;
  width: max-content;
  animation: scroll 30s linear infinite;
}

.carousel-logo {
  height: 40px;
  margin: 0 30px;
  flex-shrink: 0;
}

@keyframes scroll {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}
